aiohttp==3.8.0
aiosignal==1.2.0
asgiref==3.4.1
async-timeout==4.0.0
asynctest==0.13.0
attrs==21.2.0
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.7
Django==3.2.9
django-crispy-forms==1.13.0
folium==0.12.1
frozenlist==1.2.0
geographiclib==1.52
geoip2==4.4.0
geopy==2.2.0
idna==3.3
Jinja2==3.0.2
MarkupSafe==2.0.1
maxminddb==2.2.0
multidict==5.2.0
numpy==1.21.3
pytz==2021.3
requests==2.26.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
yarl==1.7.2
